body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1343px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:443px;
  width:750px;
  height:1343px;
}
#u402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:443px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:443px;
}
#u403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:220px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1741px;
  width:750px;
  height:220px;
}
#u404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:461px;
  width:204px;
  height:75px;
  font-size:28px;
}
#u405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:200px;
  word-wrap:break-word;
}
